*{
    user-select: none;

    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

:root{
    --rich-black: #0d1b2aff;
    --oxford-blue: #1b263bff;
    --yinmn-blue: #415a77ff;
    --silver-lake-blue: #778da9ff;
    --platinum: #e0e1ddff;
}
body{
    margin: 2%;
    background-image: radial-gradient(var(--yinmn-blue) 1.3px, var(--oxford-blue) 1.3px);
    background-size: 26px 26px;
}



